<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405244510290-lntr6rmkkmfvnnes9l2cc22cf39rnmas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405244510290-lntr6rmkkmfvnnes9l2cc22cf39rnmas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405244510290-clueotvu8oe4sa5g9kk0nqih6isj3scs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJqLBjE9j3xjwGBsAlWA4khu-udfMOAA4</string>
	<key>GCM_SENDER_ID</key>
	<string>405244510290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mandeum.dessert</string>
	<key>PROJECT_ID</key>
	<string>dessert39-d93ac</string>
	<key>STORAGE_BUCKET</key>
	<string>dessert39-d93ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405244510290:ios:bd67d7dcdf66909e1a5f8b</string>
</dict>
</plist>